.bg-main{
	background-color: #62bfe6;
}

.bg-pub{
	background: linear-gradient(to right, #ff534f, #ffb001);
}

.c-main{
	color: #62bfe6;
}

.btn-main{
	background-color: #62bfe6;
	border-color: #62bfe6;
	color: #fff;
	border-radius: 0;
	font-weight: bold; 
}

/*header*/
header{
	position: -webkit-sticky;
	position: sticky;
	top:0;
}

.fa-phone{
	transform: scaleX(-1);
}

.menu{
	position: fixed;
	top: 0;
}

.menu li:hover{
	background-color: #62bfe6;
}

/*main*/
/*carousel*/
.ccText{
	left: 65%;
	bottom: 0;
}

.ccText h2{
	font-size: 4vw;
}

/*cardLine*/
.cardLine .card{
	background: linear-gradient(135deg, #57aacd, #62bfe6);
	color: white !important;
	border: none;
	border-radius: 0;
}

.cardLine i, .infoPlus i, .help i{
	font-size: 46px;
}

footer i{
	font-size: 30px;
}

/****************************************************************/
@media (min-width: 768px){
	/*main*/
	/*carousel*/
	.ccText{
		bottom: 20%;
	}
	.ccText h2{
		font-size: 3vw;
	}

}

/****************************************************************/
@media (min-width: 992px){
	/*header*/
	header{
		position: initial;
	}

	.pubtop li{
		font-size: 0.9rem;
	}

	.menu{
		position: -webkit-sticky;
		position: sticky;
		background: #343a40;
	}

	/*main*/
	/*carousel*/
	.ccText{
		bottom: 40%;
	}

	.ccText h2{
		font-size: 1.5vw;
	}

	/*cardLine*/
	.cardLine>div{
		bottom: 50px;
	}

	.carte{
		transition: 0.5s;
		bottom: 0;
	}

	.carte:hover{
		bottom: 40px;
	}

	footer i{
		font-size: 40px;
	}
}